body.dark-mode {
    background-color: #000000;
    color: #f5f5f5;
}

.mobile-container.dark-mode {
    background-color: #000000;
    color: #f5f5f5;
}

.dark-mode header {
    color: #f5f5f5;
}

.dark-mode input[type="text"],
.dark-mode button {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .recipe-of-the-day-container {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode #meals {
    color: #f5f5f5;
}

.dark-mode .return-to-home-btn {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode h1 {
    color: #f5f5f5;
}

.dark-mode #h3-1 {
    color: #f5f5f5;
}

.dark-mode .about-section p {
    color: #f5f5f5;
}

.dark-mode #scroll-top-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

#dark-mode-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border: none;
}
#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 1000;
    border: none;
}

.share {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
    border: none;
}

.about {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 1000;
    border: none;
}

mark {
    background-color: rgb(200, 255, 0);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    /* background-color: white; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(138, 129, 141);
    font-size: 1.5rem;
    margin-left: 10px;
}

.h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    background-image: url(Header.png);
    height: 7em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1px;
}

.h3 {
    text-align: center;
    color: rgb(255, 0, 0);
}

h6 {
    text-align: center;
    color: rgb(255, 0, 0);
}

.return-to-home-btn {
    display: block;
    margin: auto;
    background-color: #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: white;
    padding: 8px 12px;
}

.return-to-home-btn:hover {
    background-color: #ff0000;
}

.recipe-of-the-day-container {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 8px;
}

.recipe-of-the-day-container .meal {
    margin: auto;
}

#h3-1 {
    text-align: center;
    color: #2d2d2d;
}

button {
    text-align: center;
    display: block;
    margin: auto;
    background-color: #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: white;
    padding: 8px 12px;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(255, 0, 0);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 20px;
}

.about-section h2 {
    color: red;
    margin-bottom: 1rem;
}

.about-section p {
    color: #000000;
    line-height: 1.6;
    margin-bottom: 1rem;
}
#about-btn:hover {
    background-color: red;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: -7px 0 20px 0;
    border: 2px solid red;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#scroll-top-btn {
    display: block;
    margin: auto;
    background-color: #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: white;
    padding: 8px 12px;
    margin-top: 20px;
}

#scroll-top-btn:hover {
    background-color: #ff0000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}


.logoimage {
    position: absolute;
    top: 30px;
}